body {
    background-color: #2875b8;
    font-family: Arial, sans-serif;
}

div#interface {
    width: 900px;
    background-color: #abd8ff;
    padding: 20px;

    /* box-shadow: 0px 0px 10px rgba(0,0,0, 0.5); */
    margin: auto;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    color: #231991;
    font-family: "Courier New";
    padding-bottom: 10px;
    margin-top: -30px;
}

h1 {
    font-size: 50px;
    margin-bottom: -13px;
    word-spacing: 10px;
}

h3 {
    font-size: 12pt;
    word-spacing: 5px;
}

strong {
   font-family: "Courier New";
}

img {
    width: 600px;
}

p {
    font-size: 15.3pt;
}

footer {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 20px;
}